p {
    margin: 0;
}

html {
    height: 600px;
}

body {
    background-color: rgb(255, 249, 241);
    user-select: none;
    margin-top: 60px;
}

.loading {
    display: none;
}

#main {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

#disp0 {
    width: 180px;
    height: 47px;
    margin: 22px auto;
}

#disp0>p {
    font-size: 30px;
    font-family: 'Yuji Syuku', serif;
    border-bottom: 2px solid #000;
    margin: 0;
}

#disp1 {
    height: 30px;
    line-height: 34px;
    font-size: 30px;
}


#disp2 {
    height: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#disp3 {
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    width: 100px;
    margin-bottom: 2px;
}

.btnBox {
    display: flex;
    flex-wrap: wrap;
    width: 180px;
    margin: 0 auto;
}

button {
    display: block;
    width: 60px;
    height: 50px;
    font-size: 38px;
}

#reset {
    font-size: 30px;
    line-height: 49px;
}

.nextBtn {
    font-size: 32px;
    line-height: 49px;
}

.zeroBtn {
    width: 120px;
}

.optionBtn>button {
    margin: 0 auto 12px auto;
    font-size: 18px;
    padding: 0;
}

#reloadBtn {
    width: 40px;
    height: 30px;
    line-height: 20px;
    font-size: 20px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10px;
}